
.Regform{
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  height: 50vh;
  background: rgba(0, 0, 0, 0.75);
  width: 90vw;
}

.regBtn{
  display:inline-block; 
  max-width: 200px;
  color: #fff;
  margin: 0 auto;
  background: var(--primary-color); 
  padding: 0.5rem 1rem;
  border: none;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.regBtn:hover{
  background-color: var(--secondary-color);
  transition: background-color 0.5s ;
}

.Regform-Left,
.Regform-Right{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex : 1;
}


.Regform-Left ,
.Regform-Right{
  transition: flex 1s ease-out;
}


.Regform-Left p,
.Regform-Right p,
.Regform-Left button,
.Regform-Right button{
  align-self: center;
  margin-bottom:2rem ;
}

.Regform-Middle{
  flex: 2;
  background: var(--secondary-color);
  height: 100%;
}
.none{
  visibility: hidden;
  flex: 0;
}
/* Responsive */

@media(max-width:1100px){
  .Regform{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    height: 80vh;
    background: rgba(0, 0, 0, 0.75);
    width: 70vw;
  }

  .regBtn,.Regform p
  {
    padding: 0.75rem;
    font-size: 1rem;

  }
}

  @media(max-width:1100px){
  
    .Regform p{
      margin-bottom: 0.6rem;
    }
    
}

@media(max-width:750px){
  
  .regBtn,.Regform p
  {
    padding: 0 0.75rem ;
    font-size: 0.65rem;
  }

}

@media(min-width:2000px){

  
  .Regform{
    height:40vh;
    font-size: 2rem;
  }
  .regBtn{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }


}