/* Main Dabba */

.Showcase {
  
  height: 95vh;
  color: #000;
  background: url(./Showcase.jpg)  center center/cover;
  background-attachment: fixed;
}

.Showcase .Showcase-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; 
  height: 100%; 
  padding : 0 2rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.Showcase .Showcase-container a{
  margin: 2rem;
}
.Showcase p{
  color: #fff;
  font-weight: 1000;
}
.Showcase-text{
  margin-bottom: 4rem;
}
.Showcase-Button {
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem;
  transition: 0.4s;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  background-color: var(--primary-color);
}

.Showcase-Info{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #fff;
  font-weight: 1000;
}

.Showcase-Button:hover {
  color : #fff;
  background:var(--secondary-color);
}
@media(max-width:700px){

  .Showcase{
    background: url(./Showcase.jpg)  center/cover;
  }
  
  .Showcase h1{
    font-size: 3rem;
  }

  .Showcase p{
    font-size: 1.2rem;
  }

  }
  
  @media(min-width:2100px){
  
    .Showcase h1{
      font-size: 6rem;
      margin-bottom: 3rem;
  
    }
  
    .Showcase p{
      font-size: 2rem;
    }
    
    .Showcase-Button{
      padding: 0.3rem;
    }
  
  }